[Desktop Entry]
Type=Application
Name=Cleepboard
Comment=Lightweight clipboard manager
Exec=/home/ahnaf_a0/.local/bin/cleepboard --show
Icon=/home/ahnaf_a0/.local/share/icons/cleepboard.png
Terminal=false
Categories=Utility;
StartupNotify=false
