[Desktop Entry]
Type=Application
Name=Cleepboard
Comment=Lightweight clipboard manager
Exec=cleepboard --show
Icon=cleepboard
Terminal=false
Categories=Utility;
StartupNotify=false
